#main-wrapper {
    display: flex;
    justify-content: center;
}

#application-wrapper {
    display: flex;
    justify-content: center;
}

#application-form {
    border-style: solid;
    border-color: darkslateblue;
    margin: 90px;
    width: 300px;
    height: 550px;
    padding: 20px;
}

.container {
    border-style: solid;
    border-color: darkslateblue;
    margin: 90px;
    width: 300px;
    height: 350px;
    padding: 20px;
}

input {
    height: 25px;
    font-size: 16px;
}

.button {
    background-color: darkslateblue;
    color: white;
    height: 32px;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
    color: red;
}

textarea {
    height: 80px;
    font-size: 16px;
}